# Python cache and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary/editor files
*.swp
*.swo
*.bak
.DS_Store

# Build/output folders
site/
build/
dist/
assets/

# IDE files
.vscode/
.idea/
*.sublime-*

# OS files
Thumbs.db
.DS_Store
